@tailwind base;
@tailwind components;
@tailwind utilities;

//:root {
//  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
//  line-height: 1.5;
//  font-weight: 400;
//
//  color-scheme: light dark;
//  //color: rgba(255, 255, 255, 0.87);
//  //background-color: #242424;
//
//  font-synthesis: none;
//  text-rendering: optimizeLegibility;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//}

//a {
//  font-weight: 500;
//  color: #646cff;
//  text-decoration: inherit;
//}
//a:hover {
//  color: #535bf2;
//}

@layer base {
  body {
    margin: 0;
    padding: 0;
  }
}

body {
  //margin: 0;
  //display: flex;
  //place-items: center;
  //min-width: 320px;
  //min-height: 100vh;
  //background-image: url("./assets/bg.png");
  //background-repeat: no-repeat;
  //background-position: calc(50% + 190px) -50px;
  //background-size: 1000px 700px;
  //@apply h-screen;
}

//html[data-theme="dark"] body {
//  background-image: url("./assets/bg-dark.png");
//  background-size: 140rem;
//  background-repeat: no-repeat;
//  @apply h-screen;
//}
//body {
//  @apply bg-base-300;
//}
html #app {
  @apply h-screen ;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='32' height='32' fill='none' stroke='rgb(15 23 42 / 0.01)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e");
}

@layer components {
  .loading-box {
    @apply absolute inset-0 flex items-center justify-center -z-10;
  }

  html[data-theme="dark"] body {
    .dark-bg {
      @apply bg-base-200;
    }
  }

  .toggle {
    @apply border-2 border-base-content/10;
  }

  .modal {
    background-color: rgb(0, 0, 0, 0.3);
    //不加上低端机型无法显示背景
  }

  .loading-spinner {
    @apply h-6;
    //不加上低端机型无法显示
  }
}

//h1 {
//  font-size: 3.2em;
//  line-height: 1.1;
//}

//button {
//  border-radius: 8px;
//  border: 1px solid transparent;
//  padding: 0.6em 1.2em;
//  font-size: 1em;
//  font-weight: 500;
//  font-family: inherit;
//  background-color: #1a1a1a;
//  cursor: pointer;
//  transition: border-color 0.25s;
//}
//button:hover {
//  border-color: #646cff;
//}
//button:focus,
//button:focus-visible {
//  outline: 4px auto -webkit-focus-ring-color;
//}
//
//.card {
//  padding: 2em;
//}

//#app {
//max-width: 1280px;
//margin: 0 auto;
//padding: 2rem;
//text-align: center;
//@apply h-screen bg-base-100;
//}


@media (prefers-color-scheme: light) {
  //body{
  //background-image: url("./assets/bg-light.jpg");
  //background-size: 150rem;
  //background-repeat: no-repeat;
  //@apply h-screen;
  //}
  //:root {
  //  color: #213547;
  //  background-color: #ffffff;
  //}
  //a:hover {
  //  color: #747bff;
  //}
  //button {
  //  background-color: #f9f9f9;
  //}
}
